@mixin filter {
    filter: drop-shadow(5px 7px 15px rgba(189, 208, 251, 0.55));
}

@mixin box-shadow {
    box-shadow: 5px 7px 15px rgba(189, 208, 251, 0.55);
}

@mixin btn {
    border-radius: 15px;
    border: none;
    background-color: $blue-color;
    color: #FAFAFA;
    cursor: pointer;
}

@mixin fz32 {
    position: relative;
    font-size: 32px;
    line-height: 38px;
    z-index: 3;
}

@mixin button {
    border-radius: 15px;
    border: none;
    width: 300px;
    height: 82px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    background-color: $blue-color;
    color: #FAFAFA;
    cursor: pointer;
    z-index: 2;

}











