.footer {
    background: #F3EFEF;
    * {
        color: #000000;
    }
    &__inner {
        padding: 40px 0 45px;
        display: flex;
        gap: 100px;
    }
    &__nav {
        display: flex;
        gap: 100px;
    }
    &__col {
        width: 220px;
    }
    &__title {
        font-weight: 500;
    }
    &__list {
        &-mt {
            margin-top: 14px;
        }
        li {
            margin-bottom: 10px;
            a {
                font-size: 20px;
                line-height: 24px;
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    &__contacts {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    &__call {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__phone {
        font-size: 16px;
        line-height: 19px;
    }
    &__btn {
        color: #FFFFFF;
    }
    &__mail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-link {
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__address {
        font-size: 20px;
        line-height: 24px;
    }


    
}



